.form {
  margin: auto;
  border: 0.5px solid grey;
  border-radius: 8px;
  padding: 20px;
  width: 80%;
  display: flex;
  flex-direction: column;
}

.formRow {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.formRowLabel {
  min-width: 25%;
}

.submit {
  background: #000;
  font: 1em sans-serif;
  color: white;
  width: fit-content;
  border-radius: 5px;
  margin-top: 10px;
  padding: 10px 16px;
  align-self: flex-end;
}
