.form {
  border: 0.5px solid grey;
  border-radius: 8px;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.formRow {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.formRowLabel {
  min-width: 25%;
}

.submit {
  background: #000;
  font: 1em sans-serif;
  color: white;
  width: fit-content;
  border-radius: 5px;
  margin-top: 10px;
  padding: 10px 16px;
  align-self: flex-end;
  cursor: pointer;
}

.checkboxs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  gap: 0.4rem;
}
.checkboxInput {
  accent-color: black;
  width: 1.2rem;
  height: 1.2rem;
}
.checkboxLabel{
  display: flex;
  align-items: center;
  gap: 1rem;
}
